<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="general.html :: headerfiles"></th:block>
    <title>Catalog</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="section" id="app">
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-12">
                <a href="/" id="plate" style="font-size: 27px;">Автосалон Credo</a>
            </div>
        </div>
    </div>
    <div class="container" style="border-radius: 10px; border-top: 2px solid black; border-bottom: 2px solid black; border-left: 2px solid black; border-right: 2px solid black;">
        <div class="row text-center">
            <div class="col-xs-3" style="border-right: 2px solid black;">
                <a href="/" style="font-size: 25px; color: orangered;">Главная страница</a>
            </div>
            <div class="col-xs-3" style="border-right: 2px solid black;">
                <a href="/catalog" style="font-size: 25px; color: orangered; text-decoration: underline;">Каталог</a>
            </div>
            <div class="col-xs-3 dashboard_rules" sec:authorize="!isAuthenticated()" style="border-right: 2px solid black;">
                <a href="/login" style="font-size: 25px; color: orangered;">Войти</a>
            </div>
            <div class="col-xs-3 dashboard_rules" sec:authorize="!isAuthenticated()">
                <a href="/registration" style="font-size: 25px; color: orangered;">Зарегистрироваться</a>
            </div>
            <div class="col-xs-3 dashboard_rules" sec:authorize="isAuthenticated()" style="border-right: 2px solid black;">
                <a href="/account" style="font-size: 25px; color: orangered;">Личный кабинет</a>
            </div>
            <div class="col-xs-3 dashboard_rules" sec:authorize="isAuthenticated()">
                <a href="/logout" style="font-size: 25px; color: orangered;">Выйти</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-6 col-xs-offset-3 dashboard_rules" sec:authorize="hasRole('ADMIN')" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-bottom: 2px solid black; border-left: 2px solid black; border-right: 2px solid black;">
                <a href="/admin" style="font-size: 25px; color: orangered;">Окно администратора</a>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 1.5%;">
        <div class="row text-center">
            <div class="col-xs-12">
                <div class="dashboard_rules">
                    <a style="margin: 3%; font-size: 23px; color: orangered;" v-for="cat in this.categories" :href="`#${cat}`">
                        {{cat}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div v-for="category in this.categories">
                <div class="col-xs-12">
                    <h3 class="text-center" style="margin: 1.5%; font-size: 23px; color: orangered; text-decoration: underline;">{{category}}</h3>
                    <a :name="category"></a>
                    <div class="col-xs-12">
                        <form v-if="category==='NEW_CAR'" v-on:submit.prevent="findProductsNew">
                            <label>
                                <input type="text" v-model="filterBrandNew" name="brand" placeholder="Бренд">
                            </label>
                            <label>
                                <input type="text" v-model="filterModelNew" name="model" placeholder="Модель">
                            </label>
                            <label>
                                <input type="text" v-model="filterBodyNew" name="body" placeholder="Кузов">
                            </label>
                            <input type="submit" class="findProductsNew" value="Найти">
                        </form>
                        <form v-if="category==='NEW_CAR'" v-on:submit.prevent="breakProductsNew" style="margin-bottom: 0.5%;">
                            <input type="submit" name="reset" value="Сбросить">
                        </form>
                        <form v-if="category==='SUPPORT_CAR'" v-on:submit.prevent="findProductsSup">
                            <label>
                                <input type="text" v-model="filterBrandSup" name="brand" placeholder="Бренд">
                            </label>
                            <label>
                                <input type="text" v-model="filterModelSup" name="model" placeholder="Модель">
                            </label>
                            <label>
                                <input type="text" v-model="filterBodySup" name="body" placeholder="Кузов">
                            </label>
                            <label>
                                <input type="number" v-model="filterReleaseYearSup" name="release_year" placeholder="Год выпуска">
                            </label>
                            <input type="submit" class="findProductsSup" value="Найти">
                        </form>
                        <form v-if="category==='SUPPORT_CAR'" v-on:submit.prevent="breakProductsSup" style="margin-bottom: 0.5%;">
                            <input type="submit" name="reset" value="Сбросить">
                        </form>
                    </div>
                </div>
                <div>
                    <table class="table">
                        <tr>
                            <th>Бренд</th>
                            <th>Модель</th>
                            <th>Кузов</th>
                            <th>Цена</th>
                            <th v-if="category==='SUPPORT_CAR'">Год выпуска</th>
                            <th>Детали</th>
                        </tr>
                        <tr v-for="product in products[category]">
                            <td>{{product.brand}}</td>
                            <td>{{product.model}}</td>
                            <td>{{product.body}}</td>
                            <td>{{product.price}}</td>
                            <td v-if="category==='SUPPORT_CAR'">{{product.release_year}}</td>
                            <td>
                                <form v-on:submit.prevent="showProduct(product)">
                                    <input type="submit" value="Подробнее">
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.app = new Vue({
        el: '#app',
        data: {
            filterBrandNew: '',
            filterBodyNew: '',
            filterModelNew: '',
            filterReleaseYearSup: null,
            filterBrandSup: '',
            filterBodySup: '',
            filterModelSup: '',
            products: null,
            categories:[],
        },
        async mounted() {
            await this.getInfo();
        },
        methods: {
            getInfo: async function (event) {
                await axios
                    .get("/get_catalog")
                    .then(response => {
                        this.info = response.data
                        this.products = this.info.products
                        this.categories = this.info.categories
                    })
            },
            showProduct: function (product) {
                location.href = `/catalog/${product.id}`
            },
            findProductsSup: function (event) {
                axios.post('/filterProducts',{
                    "brand": this.filterBrandSup,
                    "model": this.filterModelSup,
                    "body": this.filterBodySup,
                    "release_year": this.filterReleaseYearSup,
                })
                    .then(response=>{
                        this.products.SUPPORT_CAR = response.data.products.SUPPORT_CAR
                    })
            },
            findProductsNew: function (event) {
                axios.post('/filterProducts',{
                    "brand": this.filterBrandNew,
                    "model": this.filterModelNew,
                    "body": this.filterBodyNew,
                })
                    .then(response=>{
                        this.products.NEW_CAR = response.data.products.NEW_CAR
                    })
            },
            breakProductsSup: function (event){
                this.filterBrandSup=''
                this.filterModelSup=''
                this.filterBodySup=''
                this.filterReleaseYearSup=null
                this.findProductsSup()
            },
            breakProductsNew: function (event){
                this.filterBrandNew=''
                this.filterModelNew=''
                this.filterBodyNew=''
                this.findProductsNew()
            },
        }
    })
</script>
<div style="margin-top: 60px;">&#160;</div>
<footer class="footer text-center">
    <div class="container">
        <p class="text-muted" style="margin-top: 1.5%;">© 2021 Автосалон Credo. All Rights Reserved | Designed by Panchenkov Misha</p>
    </div>
</footer>
</body>
</html>