<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <th:block th:include="general.html :: headerfiles"></th:block>
    <title>Order</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="section" id="app">
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-12">
                <a href="/" id="plate" style="font-size: 27px;">Автосалон Credo</a>
            </div>
        </div>
    </div>
    <div class="container" style="border-radius: 10px; border-top: 2px solid black; border-bottom: 2px solid black; border-left: 2px solid black; border-right: 2px solid black;">
        <div class="row text-center">
            <div class="col-xs-3" style="border-right: 2px solid black;">
                <a href="/" style="font-size: 25px; color: orangered;">Главная страница</a>
            </div>
            <div class="col-xs-3" style="border-right: 2px solid black;">
                <a href="/catalog" style="font-size: 25px; color: orangered; text-decoration: underline;">Каталог</a>
            </div>
            <div class="col-xs-3 dashboard_rules" sec:authorize="!isAuthenticated()" style="border-right: 2px solid black;">
                <a href="/login" style="font-size: 25px; color: orangered;">Войти</a>
            </div>
            <div class="col-xs-3 dashboard_rules" sec:authorize="!isAuthenticated()">
                <a href="/registration" style="font-size: 25px; color: orangered;">Зарегистрироваться</a>
            </div>
            <div class="col-xs-3 dashboard_rules" sec:authorize="isAuthenticated()" style="border-right: 2px solid black;">
                <a href="/account" style="font-size: 25px; color: orangered;">Личный кабинет</a>
            </div>
            <div class="col-xs-3 dashboard_rules" sec:authorize="isAuthenticated()">
                <a href="/logout" style="font-size: 25px; color: orangered;">Выйти</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-6 col-xs-offset-3 dashboard_rules" sec:authorize="hasRole('ADMIN')" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-bottom: 2px solid black; border-left: 2px solid black; border-right: 2px solid black;">
                <a href="/admin" style="font-size: 25px; color: orangered;">Окно администратора</a>
            </div>
        </div>
    </div>
</div>
<div style="margin-top: 60px;">&#160;</div>
<footer class="footer text-center">
    <div class="container">
        <p class="text-muted" style="margin-top: 1.5%;">© 2021 Автосалон Credo. All Rights Reserved | Designed by Panchenkov Misha</p>
    </div>
</footer>
</body>
</html>